@media (min-width: 641px) {
    .yt-blog div {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #7ea2cc;
        width: 46%;
        display: inline-block;
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 640px) {
    .yt-blog div {
        margin: 10px;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #7ea2cc;
        width: 97%;
        display: inline-block;
        text-align: center;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
}

.subButton {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    background-color: #d1001c;
    color: white;
    border: none;
}

.downlaodButton {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    background-color: #353eb4;
    color: white;
    border: none;
}

.subButton:hover,
.downlaodButton:hover {
    opacity: 0.8;
    color: white;
}