  .yt-blog div iframe {
      margin: 10px;
  }
  
  .subButton {
      width: 100%;
      padding: 12px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      text-align: center;
      background-color: #d1001c;
      color: white;
      border: none;
  }
  
  .subButton:hover {
      opacity: 0.8;
      color: white;
  }